{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks/style.min.css' %}">
</head>
<body>
    <div class="container">
        <section class="chat">
            <div class="chat__naming">
                <p>ЧАТ</p>
                <button class="chat__naming__btn">
                    <img src="{% static 'icons/return.png' %}" alt="">
                </button>
            </div>
            <div class="chat__skin">
                <div class="chat__skin__dialogs">
                    <div class="chat__skin__dialogs__contect">
                        <p class="chat__skin__dialogs__contect__text">Архив обращений</p>
                        <img class="chat__skin__dialogs__contect__img" src="{% static 'icons/box.png' %}" alt="">
                    </div>
                    <div class="chat__skin__dialogs__nomessage">
                        <img class="chat__skin__dialogs__nomessage__img" src="{% static 'icons/message.png' %}" alt="">
                        <p class="chat__skin__dialogs__nomessage__text">Вы не отправляли сообщения</p>
                    </div>
                <div class="chat__skin__right">

                    <img class="chat__skin__right__icons2" src="{% static 'icons/logotype1.png' %}" alt="">

                    <div class="chat__skin__right__mess">

                        <div class="chat__skin__right__mess__forms">
                            <div class="chat__skin__right__mess__forms__operator">Сейчас на линии <span>12 операторов.</span> Уже подбираем для вас свободного, чтобы максимально быстро решить вашу проблему!</div>
                        </div>

                        <div class="chat__skin__right__mess__forms">
                            <div class="chat__skin__right__mess__forms__user">Хорошо, спасибо</div>
                        </div>

                        
                    </div>

                    <div class="chat__skin__right__messageinput">

                        

                        <form class="chat__skin__right__messageinput__in2" action="get">
                    
                            <div class="chat__skin__right__messageinput__in2__file">
                                
                                <input class="chat__skin__right__messageinput__in2__file__input" type="file">
                                <img class="chat__skin__right__messageinput__in2__file__img" src="{% static 'icons/addfile.png' %}" alt="">
                            </div>

                            <input id="chatInputText" class="chat__skin__right__messageinput__in2__text" type="text ">

                            <button type="button" class="chat__skin__right__messageinput__in2__btn" type="sumbit">
                                <img class="chat__skin__right__messageinput__in2__btn__img" src="{% static 'icons/arrow_blue.png' %}" alt="">
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static 'js/chat.js' %}"></script>
</body>
