{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks/style.min.css' %}">
</head>
<body>
    <div class="container">
        <section class="lk">
            <div class="lk__topwrapper">
                <h2 class="lk__header">личный кабинет</h2>
                <div class="lk__close">
                    <a href="/">
                        <img src="{% static 'icons/return.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="lk__midlewrapper">
                <div class="lk__photo">
                    <img src="{% static 'icons/photo.png' %}" alt="photo_ico" class="lk__photo__img">
                </div>
                <div class="lk__columnwrapper">
                    <div class="lk__fio">
                        <div class="lk__fio__obj lk__fio__obj__name">имя</div>
                        <div class="lk__fio__obj lk__fio__obj__surname">Якушин</div>
                        <div class="lk__fio__obj lk__fio__obj__patronymic">Олегович</div>
                    </div>
                    <div class="lk__points">
                        <div class="lk__points__descr">мои <br> баллы</div>
                        <div class="lk__points__amount">174</div>
                    </div>
                </div>
            </div>
            <div class="lk__downwrapper">
                <div class="lk__notices">
                    <div class="lk__notices__header">
                        <img src="{% static 'icons/bell.png' %}" alt="bell">
                        <p>уведомления</p>
                    </div>
                    <div class="lk__notices__obj__wrapper">
                        <div class="lk__notices__obj">
                            <div class="lk__notices__obj__header">происшествия</div>
                            <img src="{% static 'icons/warning.png' %}" alt="warning">
                        </div>
                        <div class="lk__notices__obj">
                            <div class="lk__notices__obj__header">мои обращения</div>
                            <img src="{% static 'icons/message.png' %}" alt="message">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static 'js/script1.js' %}"></script>
</body>
</html>