<div class="favorite__menu">
    <div class="favorite__menu__header">
      <span>РАБОТА - СПОРТ ЗАЛ</span>
      <button class="favorite__menu__toggle"><img src="{% static 'icons/arrowdown.png' %}" alt="arrowdown"></button>
    </div>
    <div class="favorite__menu__content">
        <div class="favorite__menu__map">
            <img src="{% static 'img/map.png' %}" alt="">

        </div>
    
      <div class="route">
        <div class="favorite__menu__distance">
            <div class="favorite__menu__distance__circle"></div>
            <p>991М</p>
            <div class="favorite__menu__distance__circle"></div>
        </div>
        <div class="point start">
        </div>
        <div class="line">
        </div>
        <div class="point end">
        </div>
    </div>
        <div class="favorite__menu__street__wrapper">
            <div class="favorite__menu__street">ул. Чапаева, 106</div>
            <div class="favorite__menu__street">Tiffany Blooms</div>
        </div>
        <div class="favorite__menu__botomwrapper">
            <div class="favorite__menu__incidents">
                <div class="favorite__menu__incidents__header">происшествия</div>
                <div class="favorite__menu__incidents__descr">Не найдены</div>
                <img src="{% static 'icons/whitewarning.png' %}" alt="warning">
            </div>
            <div class="favorite__menu__notification">
                <div class="favorite__menu__notification__header">уведомлять</div>
                <div class="favorite__menu__notification__descr">о происшествиях на маршруте</div>
            </div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
              </label>
        </div>
  </div>
</div>