@import '../base/variables';
@import '../base/mixins';
@import '../blocks/header';
@import '../blocks/promo';
@import '../blocks/actions';
@import '../blocks/popups';
@import '../blocks/forms';
@import '../blocks/lk';
@import '../blocks/favorite';
@import '../blocks/footer';
@import '../blocks/chat';
@import '../blocks/userform';
@import '../blocks/selectpath';
@import '../blocks/adminuser';
body{
    background-color: #E6E6E6;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.active{
    display: block;
    overflow: hidden;
}
.close{
    display: none;
}